<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="service.formModel.get('UserName')?.touched && service.formModel.get('UserName')?.errors?.required">This field is required.</label>
    </div>
    <div class="form-group required">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.email">Invalid email address.</label>
    </div>
    <div class="form-group">
        <label>FirstName</label>
        <input type="text" class="form-control" formControlName="FirstName">
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input type="text" class="form-control" formControlName="LastName">
    </div>
    <div class="form-group required">
        <label>Birthday</label>
        <input type="text" class="form-control" formControlName="Birthday">
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.required">This field is required.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.minlength">Minimum 6 characters required.</label>
        </div>
        <div class="form-group required">
            <label>ConfirmPassword</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.required">This field is required.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">Passwords don't match.</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
        </div>
    </div>
</form>
